@charset "UTF-8";

*{
	list-style : none;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

th {
	font-size: 20px;
	padding: 20px;
}

td{
	font-size: 20px;
	padding: 20px;
}

table{
	text-align: center;
	margin: auto;
	margin-top: 20px;
}

input[type=button]{
	font-size: 24px;
}